{% extends "CECoreBundle::layout.html.twig" %}

{% block body -%}
    <h1>Employee list</h1>


<div class="table-responsive panel panel-default">
    <div class="panel-heading">Liste du matériel</div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-2 col-md-1">Id</th>
                <th class="col-xs-2 col-md-1">Name</th>
                <th class="col-xs-2 col-md-1">Firstname</th>
                <th class="col-xs-2 col-md-1">Email</th>
                <th class="col-xs-2 col-md-1">Phonenumber</th>
                <th class="col-xs-2 col-md-1">
                    <a class="btn btn-success" href="{{ path('employee_new') }}">+ Ajouter</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr onMouseOver="this.className='bg-info'" onMouseOut="this.className=''">
                <td><a href="{{ path('employee_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('employee_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('employee_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
