{% extends "CECoreBundle::layout.html.twig" %}
        {% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('DataTables/datatables.css') }}"/>

        {% stylesheets '@CEReservationBundle/Resources/public/css/*' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% endblock %}

        {% block javascripttop %}
<script type="text/javascript" src="{{ asset('DataTables/datatables.js') }}"></script>
        {% javascripts '@CEReservationBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock javascripttop %}

        {% block body %}

<div id="reservationList" class="resList">
    {% set url = path('reservation_get_reservation') %}
    {% set actionUrl = path('reservation_emprunt') %}
    {{ include('CEReservationBundle:Reservation:list.html.twig',
    {
    'titre': 'Liste du matériel réservé',
    'action':'Emprunté',
    'entities':entities,
    'jsActionFunction': 'emprunt',
    'jsReloadAction': 'restitue_reload',
    'statusCode': 'RESERVATION',
    'idTable': 'tableReservations',
    'url': url,
    'actionUrl': actionUrl
    }
    ) }}
</div>

<div id="empruntList" class="resList">
    {% set url = path('reservation_get_emprunt') %}
    {% set actionUrl = path('reservation_restitue') %}
    {{ include('CEReservationBundle:Reservation:list.html.twig',
    {
    'titre': 'Liste du matériel emprunté',
    'action':'Restitué',
    'entities':emprunts,
    'jsActionFunction': 'restitue',
    'jsReloadAction': 'emprunt_reload',
    'statusCode': 'EMPRUNT',
    'idTable': 'tableEmprunts',
    'url': url,
    'actionUrl': actionUrl
    }
    ) }}
</div>
        {% endblock %}
