{% extends "CECoreBundle::layout.html.twig" %}
{% block body %}


    <div id="reservationList" class="resList">
    {{ include('CEReservationBundle:Reservation:list.html.twig',
        {'titre': 'Liste du matériel réservé','action':'Emprunté','entities':entities, 'jsActionFunction': 'emprunt', 'jsReloadAction': 'restitue_reload', 'statusCode': 'RESERVATION'}) }}
    </div>

    <div id="empruntList" class="resList">
    {{ include('CEReservationBundle:Reservation:list.html.twig',
        {'titre': 'Liste du matériel emprunté','action':'Restitué','entities':emprunts, 'jsActionFunction': 'restitue', 'jsReloadAction': 'emprunt_reload', 'statusCode': 'EMPRUNT'}) }}
    </div>
    <script>
        function emprunt(id) {
            $.ajax({
                type: "POST",
                url: '{{ path('reservation_emprunt')}}',
                data: {id: id},
                cache: false,
                success: function (data) {
                    emprunt_reload();
                    restitue_reload();
                }
            });
        }
        function restitue(id) {
            $.ajax({
                type: "POST",
                url: '{{ path('reservation_restitue')}}',
                data: {id: id},
                cache: false,
                success: function (data) {
                    emprunt_reload();
                }
            });
        }
        function emprunt_reload() {
            $.ajax({
                type: "GET",
                url: '{{ path('reservation_get_emprunt')}}',
                cache: false,
                success: function (data) {
                    $('#empruntList').html(data);
                }
            });
        }
        function restitue_reload() {
            $.ajax({
                type: "GET",
                url: '{{ path('reservation_get_reservation')}}',
                cache: false,
                success: function (data) {
                    $('#reservationList').html(data);
                }
            });
        }
        // Fonction apelée après la suppression d'un element
        function delete_callback(){
            emprunt_reload();
            restitue_reload();
        }
    </script>
{% endblock %}
