<div class="col-md-6">
    <div class="table-responsive panel panel-default ">
        <div class="panel-heading">{{ titre }}</div>
        <table class="table">
            <thead>
            <tr>
                <th class="col-md-1">Matériel</th>
                <th class="col-md-2">Utilisateur</th>
                <th class="col-md-1">Début</th>
                <th class="col-md-1">Fin</th>
                {%  if is_granted('ROLE_CRUD_RESERVATION') %}
                <th class="col-md-1">
                    <a class="btn btn-sm btn-success" href="{{ path('reservation_new', {'statusCode': statusCode})}}">+ Ajouter</a>
                </th>
                {% endif %}
            </tr>
            </thead>
            <tbody id="list_emprunt">
            {% for entity in entities %}
                <tr onMouseOver="this.className='bg-info'" onMouseOut="this.className=''" id="{% if entity.id %}restitue_{{ entity.id }}{% endif %}">
                    <td>{% if entity.device %}{{ entity.device }}{% endif %}</td>
                    <td>{% if entity.user %}{{ entity.user }}{% endif %}</td>
                    <td>{% if entity.startDate %}{{ entity.startDate|date('d/m/Y') }}{% endif %}</td>
                    {% if entity.endDate %}
                    <td {% if entity.endDate|date('d/m/Y') <= 'now'|date('d/m/Y') and  entity.status.getId() == 2%}class="danger"{% endif %}>
                        {{ entity.endDate|date('d/m/Y') }}
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {%  if is_granted('ROLE_CRUD_RESERVATION') %}
                    <td class="btn-group btn-group-xs" role="group">
                            <a class="btn btn-default" href="{{ path('reservation_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" data-on-click-href="{{ path('reservation_delete', { 'id': entity.id }) }}" onclick="return confirm('Voulez vous vraiment supprimer cette réservation ?');" data-on-success-action="{{ jsReloadAction }}" title="Supprimer"><span class="glyphicon glyphicon-remove delete"></span></a>
                            <a class="btn btn-success" onclick="{{ jsActionFunction }}({{ entity.id }});" class="btn btn-warning" href="#" title="{{ action }}"><span class="glyphicon glyphicon-check"></span></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
