{% block javascripttop %}
<script type="text/javascript">
    $(document).ready(function () {
    initTable(
    "{{idTable}}",
    "{{ url }}",
    "{{ asset('DataTables/French.json') }}",
    "{{ path('reservation_edit', { 'id': ':ID' }) }}",
    "{{ path('reservation_delete') }}",
    "{{ actionUrl }}",
    "{{ action }}"
    )
    });
</script>
        {% endblock javascripttop %}
<div class="col-md-6">
    <div class="table-responsive panel panel-default ">
        <div class="panel-heading">{{ titre }}
            {% if is_granted('ROLE_CRUD_RESERVATION') %}
            <span class="pull-right">
                <a class="btn btn-sm btn-success"
                   href="{{ path('reservation_new', {'statusCode': statusCode})}}">+ Ajouter
                </a>
            </span>

            {% endif %}
        </div>
        <div class="list">
            <table class="table" id="{{idTable}}">
                <thead>
                    <tr>
                        <th class="col-md-4">Matériel</th>
                        <th class="col-md-3">Utilisateur</th>
                        <th class="col-md-2">Début</th>
                        <th class="col-md-2">Fin</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



