<td class='col-md-4 '>

    {% if editionMode %}
        {{ item.device.vars.data }}
        {{ form_widget(item.device, {'attr': {'class': 'hidden'}}) }}
    {% else %}
        {{ form_errors(item.device) }}
        {{ form_widget(item.device, {'attr': {'class': 'form-control input-sm onChangeDevice enableSubmit'}}) }}
    {% endif %}
</td>
<td class='col-md-2'>
    {#{% if editionMode %}#}
        {#{{ item.startDate.vars.value }}#}
        {#{{ form_widget(item.startDate, {'attr': {'class': 'hidden startDate'}}) }}#}
    {#{% else %}#}
        <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate loading {{ item.vars.id }}_loading" ></i>
        {{ form_errors(item.startDate) }}
        {{ form_widget(item.startDate, {'attr': {'class': 'form-control input-sm enableSubmit startDate', 'disabled': 'disabled'}}) }}
        </div>
    {#{% endif %}#}
</td>
<td class='col-md-2'>
    <div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate loading {{ item.vars.id }}_loading" ></i>
    {{ form_errors(item.endDate) }}
    {{ form_widget(item.endDate, {'attr': {'class': 'form-control input-sm enableSubmit endDate', 'disabled': 'disabled'}}) }}
    </div>
</td>
<td class='col-md-2'>
    {% if editionMode %}
        {{ item.user.vars.data }}
        {{ form_widget(item.user, {'attr': {'class': 'hidden'}}) }}
    {% else %}
        {{ form_errors(item.user) }}
        {{ form_widget(item.user, {'attr': {'class': 'form-control input-sm enableSubmit user'}}) }}
    {% endif %}
</td>
<td class='col-md-4'>{{ form_errors(item.commentaire) }}
    {{ form_widget(item.commentaire, {'attr': {'class': 'form-control input-sm enableSubmit'}}) }}
</td>
