{% extends "CECoreBundle::layout.html.twig" %}

{% block body -%}
    <h1>Reservation</h1>


<div class="table-responsive panel panel-default">
    <div class="panel-heading">Liste du matériel</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Matériel</th>
                <td>{{ entity.device }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ entity.startDate|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Date de fib</th>
                <td>{{ entity.endDate|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>
    </div>

        <ul class="record_actions">
            <li>
                <a href="{{ path('reservation') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>

{% endblock %}
