{% extends "CECoreBundle::layout.html.twig" %}
        {% set idTable = "usersList" %}
        {% block javascripttop %}
<script type="text/javascript" src="{{ asset('DataTables/datatables.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('DataTables/datetime-moment.js') }}"></script>
        {% javascripts '@CEUserBundle/Resources/public/js/*' %}
<script src="{{ asset_url }}"></script>
        {% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function () {
    initTable(
    "{{ idTable }}",
    "{{ path('user_get') }}",
    "{{ asset('DataTables/French.json') }}",
    "{{ path('user_edit', { 'id': ':ID' }) }}",
    "{{ path('user_show', { 'id': ':ID' }) }}"
    )
    });
</script>
        {% endblock javascripttop %}
        {% block body %}
<div class="table-responsive panel panel-default ">
    <div class="panel-heading">Liste des utilisateurs
        {% if is_granted('ROLE_CRUD_USER') %}
        <span class="pull-right">
            <a class="btn btn-sm btn-success"
               href="{{ path('user_new')}}">+ Ajouter
            </a>
        </span>

        {% endif %}
    </div>
    <div class="panel-body">
        <div class="list">
            <table class="table" id="{{idTable}}">
                <thead>
                    <tr>
                        <th class="col-xs-3 col-md-2">Identifiant</th>
                        <th class="col-xs-3 col-md-1">Nom</th>
                        <th class="col-xs-3 col-md-1">Prénom</th>
                        <th class="col-xs-3 col-md-1">Email</th>
                        <th class="col-xs-2 col-md-1">Teléphone</th>
                        <th class="col-xs-2 col-md-1"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

    {% endblock %}
