{% trans_default_domain 'FOSUserBundle' %}

        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="table-responsive panel panel-default">
    <div class="container-fluid panel-heading">
        <div class="pull-left ">
            <h4>Changement de mon mot de passe</h4>
        </div>
        <div class="btn-group pull-right">
            <a href="{{ path('ce_core_homepage') }}" class="btn btn-sm btn-primary">Retour</a>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-sm btn-success"/>
        </div>
    </div>
    <div class="panel-body">


        <table class="record_properties table-responsive col-md-7">
            <tbody>
                <tr>
                    <th class="col-xs-7 col-md-4">Mot de passe actuel</th>
                    <td>{{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control input-sm'}}) }}

                    </td>
                </tr>
                <tr>
                    <th class="col-xs-7 col-md-4">Nouveau mot de passe</th>
                    <td>{{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-sm'}}) }}

                    </td>
                </tr>
                <tr>
                    <th class="col-xs-7 col-md-4">Vérification</th>
                    <td>{{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-sm'}}) }}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        {{ form_end(form) }}
