{% extends "CECoreBundle::layout.html.twig" %}
        {% set idTable = 'devicesTable' %}
        {% set editRights = is_granted('ROLE_CRUD_DEVICE') %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('DataTables/datatables.css') }}"/>
            {% stylesheets '@CEDeviceBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        {% block javascripttop %}
            <script type="text/javascript" src="{{ asset('DataTables/datatables.js') }}"></script>
            {% javascripts '@CEDeviceBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                $(document).ready(function () {
                    initTable(
                            "{{ idTable }}",
                            "{{ path('device_get_devices') }}",
                            "{{ asset('DataTables/french.json') }}",
                            "{{ path('device_edit', { 'id': ':ID' }) }}",
                            "{{ path('device_delete') }}",
                            "{{ path('device_activate') }}",
                            "{{ path('device_deactivate') }}",
                            "{{ editRights }}"
                    )
                });
            </script>
        {% endblock javascripttop %}
        {% block body %}

            <div id="deviceList" class="resList">
                <div class="col-md-12">
                    <div class="table-responsive panel panel-default ">
                        <div class="panel-heading">Liste du matériel
                            {% if editRights %}
                                <span class="pull-right">
                                    <th class="col-xs-2 col-md-1">
                                        <a class="btn btn-sm btn-success" href="{{ path('device_create') }}">+ Ajouter</a>
                                    </th>
                                </span>
                            {% endif %}
                        </div>
                        <div class="list">
                            <table class="table" id="{{ idTable }}">
                                <thead>
                                <th class="col-xs-4 col-md-1">Image</th>
                                <th class="col-xs-4 col-md-1">Référence</th>
                                <th >Désignation</th>
                                <th class="col-xs-2 col-md-1">Marque</th>
                                <th class="col-xs-2 col-md-1">Modèle</th>
                                <th class="col-xs-2 col-md-1">Catégories</th>
                                <th class="col-xs-4 col-md-2">Commentaire</th>
                                <th class="col-xs-4 col-md-1">Etat</th>
                                <th></th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" role="dialog" id="disponibleModal">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="modalTitle">Inactivation du materiel</h4>
                        </div>
                        <div class="modal-body">
                            <p>Le matériel suivant va être désactivé</p>
                            <form class="form form-horizontal" data-toggle="validator" role="form" id="deactivateForm">
                                <input type="hidden" id="deviceId" name="deviceId" value="">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 control-label">Référence</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="deviceReference" name="deviceReference" value="" disabled
                                               class="form-control disabled">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 control-label">Désignation</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="deviceLabel" name="deviceLabel" value="" disabled
                                               class="form-control disabled">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 control-label">Marque</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="deviceMarque" name="deviceMarque" value="" disabled
                                               class="form-control disabled">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 control-label">Modèle</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="deviceModele" name="deviceModele" value="" disabled
                                               class="form-control disabled">
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 control-label">Catégories</label>
                                    <div class="col-sm-10">
                                        <span id="deviceCategories"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12 control-label" for="inactivationComment">
                                        Veuillez saisir la raison de l'inactivation de ce matériel.
                                    </label>
                                    <div class="col-sm-12">
                                        <input type="text" id="inactivationComment" name="commentaire"
                                               class="form-control"
                                               required
                                               data-error="La raison de l'inactivation est obligatoire."/>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-sm-12">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger pull-right submitDeactivateBtn"
                                                data-dismiss="modal">
                                            Désactiver
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <script>


            </script>

        {% endblock body %}
