{% if showDeleteButton %}
    <div class="hidden">
        {{ form(delete_form, {'attr': {'id': 'delete_form', 'class': 'hidden'}}) }}
    </div>
{% endif %}

{{ form_start(form)}}
<div class="table-responsive panel panel-default">

    <div class="container-fluid panel-heading">
        <div class="pull-left "><h4>{{ titre }}</h4></div>
        <div class="btn-group pull-right">
            <a href="{{ path('device_management') }}" class="btn btn-primary">Retour</a>
            {% if showDeleteButton %}
                <a onclick="document.getElementById('delete_form').submit();" href='#' class="btn btn-warning">Supprimer</a>
            {% endif %}
            {{ form_widget(form.submit) }}
        </div>
    </div>
    <div>
        {{ form_errors(form) }}
        <table class="record_properties">
            <tbody>
            <tr>
                <th class="col-xs-2 col-md-1">Libellé</th>
                <td>{{ form_errors(form.libelle) }}
                    {{ form_widget(form.libelle) }}
                </td>
            </tr>
            <tr>
                <th class="col-xs-2 col-md-1">Marque</th>
                <td>{{ form_errors(form.marque) }}
                    {{ form_widget(form.marque) }}</td>
            </tr>
            <tr>
                <th class="col-xs-2 col-md-1">Modèle</th>
                <td>{{ form_errors(form.modele) }}
                    {{ form_widget(form.modele) }}</td>
            </tr>
            <tr>
                <th class="col-xs-2 col-md-1">Commentaire</th>
                <td>{{ form_errors(form.commentaire) }}
                    {{ form_widget(form.commentaire) }}</td>
            </tr>
            <tr>
                <th class="col-xs-2 col-md-1">Date d'achat</th>
                <td>{{ form_errors(form.dateAchat) }}
                    {{ form_widget(form.dateAchat) }}</td>
            </tr>
            <tr>
                <th class="col-xs-2 col-md-1">Disponibilité</th>
                <td>{% if device.disponible %}
                        Le matériel est disponible.
                    {%  else %}
                        {{ device.disponibleLib }}
                    {%  endif %}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{ form_end(form) }}
