{% extends "CECoreBundle::layout.html.twig" %}

{% block body %}

    <div class="table-responsive panel panel-default">
        <div class="panel-heading">Liste du matériel</div>
        <table class="table">
            <thead>
            <th class="col-xs-4 col-md-2">Désignation</th>
            <th class="col-xs-2 col-md-1">Marque</th>
            <th class="col-xs-2 col-md-1">Modèle</th>
            <th class="col-xs-2 col-md-1">Etat</th>
            <th class="col-xs-4 col-md-2">Commentaire</th>
            <th class="col-xs-2 col-md-1">Date d'achat</th>
            <th class="col-xs-2 col-md-1">
                    <a class="btn btn-success" href="{{ path('device_create') }}">+ Ajouter</a>
            </th>
            </thead>
            <tbody>
            {% for device in devices %}
                <tr onMouseOver="this.className='bg-info'" onMouseOut="this.className=''">
                    <td>{{ device.libelle }}</td>
                    <td>{{ device.marque }}</td>
                    <td>{{ device.modele }}</td>
                    <td>{{ device.etat }}</td>
                    <td>{{ device.commentaire }}</td>
                    <td>{{ device.dateAchat | date('d M Y')}}</td>
                    <td><a class="btn btn-default" href="{{ path('device_edit', {"id":device.id}) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
