{% extends "CECoreBundle::layout.html.twig" %}

{% block body %}

    <div class="table-responsive panel panel-default">
        <div class="panel-heading">Liste du matériel</div>
        <table class="table">
            <thead>
            <th class="col-xs-4 col-md-2">Désignation</th>
            <th class="col-xs-2 col-md-1">Marque</th>
            <th class="col-xs-2 col-md-1">Modèle</th>
            <th class="col-xs-2 col-md-1">Etat</th>
            <th class="col-xs-4 col-md-2">Commentaire</th>
            <th class="col-xs-2 col-md-1">Date d'achat</th>
            <th class="col-xs-2 col-md-1">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <a href="{{ path('device_create') }}">+ Ajouter</a>
                </button>
            </th>
            </thead>
            <tbody>
            {% for device in devices %}
                <tr onMouseOver="this.className='bg-info'" onMouseOut="this.className=''" ondblclick="alert('Edition du materiel')" onmousedown="return false;">
                    <td>{{ device.libelle }}</td>
                    <td>{{ device.marque }}</td>
                    <td>{{ device.modele }}</td>
                    <td>{{ device.etat }}</td>
                    <td>{{ device.commentaire }}</td>
                    <td>{{ device.dateAchat | date()}}</td>
                    <td><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
