{% if showDeleteButton %}
<div class="hidden">
    {{ form(delete_form, {'attr': {'id': 'delete_form', 'class': 'hidden'}}) }}
</div>
{% endif %}

{{ form_start(form)}}
<div class="table-responsive panel panel-default">

    <div class="container-fluid panel-heading">
        <div class="pull-left "><h4>{{ titre }}</h4></div>
        <div class="btn-group pull-right">
            <a href="{{ path('fos_user_group_list') }}" class="btn btn-primary">Retour</a>
            {% if showDeleteButton %}
                <a onclick="document.getElementById('delete_form').submit();" href='#' class="btn btn-warning">Supprimer</a>
            {% endif %}
            <input type="submit" value="Créer"  class="btn btn-success"/>
        </div>
    </div>
    <div>
        {{ form_errors(form) }}
        <table class="record_properties">
            <tbody>
            <tr>
                <th class="col-xs-2 col-md-1">Nom</th>
                <td>{{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}</td>
                <th class="col-xs-2 col-md-1">Roles</th>
                <td>
                    {{ form_errors(form.roles) }}
                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                        {% for child in form.roles %}
                            <div class="btn btn-info">
                                {{ form_widget(child) }} {{ form_label(child) }}
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{ form_end(form) }}